@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Text 13:55 Publish</p>
    <ul>
        <li>@ViewBag.ConnectionString</li>
    </ul>
</div>
